elasticsearch>=8.0.0,<9.0.0
eea.rabbitmq.client
apache-airflow[sentry]
ultimate-sitemap-parser
git+https://github.com/eea/restapi_harvester.git
farm-haystack
unidecode
trafilatura
python-magic
cssselect
